* {
    box-sizing: border-box;
    color: white; 
}

body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #0e0d13;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%; 
    max-width: 600px; 
    padding: 20px; 
    margin: auto; 
    text-align: center; 
    background-color: #24232b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative; 
}

h1 {
    font-size: 25px;
    margin-bottom: 20px; 
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.password-box {
    position: relative;
    width: 300px;
    margin-bottom: 20px;
    background-color: #222222;
    border-radius: 5px;
    padding: 10px;
}

#passwordTextarea {
    display: block;
    width: calc(100% - 30px); 
    padding-right: 30px;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 5px;
    resize: none;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#copyIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

#copyIcon:hover {
    color: red;
}


button {
    width: auto;
    padding: 10px 20px; 
    font-size: 16px; 
    background-color: #008000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
 
button:hover {
    background-color: #006400 !important;
}


.checkbox-container {
    padding: 5px;
    width: 300px;
    text-align: left;
    margin: auto auto 20px; 
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}
 
.length-container {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#lengthSlider {
    width: 100%; 
    -webkit-appearance: none;
    appearance: none; 
    height: 5px; 
    border-radius: 5px; 
    background: #f3f3f3; 
    outline: none; 
    opacity: 0.7; 
    transition: opacity 0.2s; 
    color: white; 
    margin-bottom: 20px; 
}

#lengthSlider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none; 
    width: 15px;
    height: 15px; 
    border-radius: 50%; 
    background: #ffffff; 
    cursor: pointer; 
    transition: background-color 0.2s; 
}

#lengthSlider::-moz-range-thumb {
    width: 15px; 
    height: 15px; 
    border-radius: 50%; 
    background: #ffffff;
    cursor: pointer; 
    transition: background-color 0.2s; 
}

#lengthSlider:focus {
    outline: none; 
}


#lengthValue {
    margin-left: 10px; 
    font-weight: bold;
}

#lengthSlider::-webkit-slider-thumb:hover,
#lengthSlider::-moz-range-thumb:hover {
    background: #00ff00 !important; /* Change thumb color on hover */
}
